*{
    font-family: 'Gothic A1', sans-serif;
}

body, .container{
    width: 100%;
}

.darker{
    background-color: #eeeeee;
    width: 100%;
}

.lighter{
    background-color: #ffffff;
    width: 100%;
}

.jumbotron{
    margin-top: 20px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#mainTitle{
}

#tgLogo{
    width: 150px;
    height: 100%;
}

#gemeindeLogo{
    width: 100px;
    height: 100%;
}

#gemeindeH{
    font-size: 50pt;
}
