*{
    font-family: 'Gothic A1', sans-serif;
}

body{
    /*background-color: #353535;*/
}

#slidOutput{
    padding-top: 10px;
}

#mainTitle{
}

#tgLogo{
    width: 150px;
    height: 100%;
}

.container{
    background-color: white;
}
