*{
    font-family: 'Gothic A1', sans-serif;
}

#mainTitle{
}

#tgLogo{
    margin-right: 20px;
    margin-left: auto;
    width: 150px;
    height: 100%;
    position: static;
}

#flat-slider{
    margin-left: 20px;
    margin-right: 20px;
}